// Copyright 2025 Manna Harbour
// https://github.com/manna-harbour/miryoku

#include "../miryoku/custom_config.h"
#include "../miryoku/mapping/48/eyelash_corne.h"
#include "../miryoku/miryoku.dtsi"

/ {
    left_encoder: encoder_left {
        compatible = "alps,ec11";
        a-gpios = <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        b-gpios = <&gpio1 14 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        steps = <40>;
        status = "disabled";
    };

    sensors {
        compatible = "zmk,keymap-sensors";
        triggers-per-rotation = <20>;
        sensors = <&left_encoder>;
    };
};